@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

body{
	background-color: #F2B705;
	margin: auto
}
.flexcontainerus{
	
}

.flexcontainerhead{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #F23535;
	max-height: 100px
	
}

.header1{
            display: flex;
            justify-content: flex-end;
          	
        }
        .header1 a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s;
			height: 20px;
        }
        .header1 a:hover {
            background-color: #BF4215;
        }

.flexus{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	justify-content: center;
	column-gap: 50px;
	
	}

.grouppic{
	height:450px;
}
.aboutus{
	min-width: 400px;
}
.usdescription{
	align-content: center;
	width:450px;
	margin-right: 100px;
	height: 400px;
}
.footer2{
	display: flex;
	flex-direction: column;
	background-color: #F23535; 
	color: white; 
	padding: 20px; 
	text-align: center;
	margin-top: 30px;
}
.footercont{
	margin-bottom: 20px;
	
}
.social{
	margin-bottom: 20px;
}
.follow{
	color: white; 
	margin: 0 10px;
}
@media only screen and (max-width: 768px) {
  	
  [class="flexcontainerus"] {
    width: 100%;
	}}
