@charset "utf-8";
/* CSS Document */

 body {
            margin: 0;
            font-family: Arial, sans-serif;
	 background-color: #F2B705;
        }
.flexcontainerhead{
	display: flex;
	justify-content: space-between;
		background-color: #F23535;
	max-height: 100px
}
.logo{
	display: flex;
	
}

.header1{
            display: flex;
            justify-content: flex-end;
          	
        }
        .header1 a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s;
			height: 20px;
        }
        .header1 a:hover {
            background-color: #575757;
        }

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 600;
  font-style: normal;
	font-size: 40px;
	max-width: 300px;
	text-align: center;
	
}
.toptitle{
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
h1{
	text-align: center;
	margin-bottom: 50px;
	}

        .container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .header, .footer {
            background-color: #333;
            color: white;
            padding: 1rem;
            text-align: center;
        }
        .main {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
.container1{
	display:flex;
	justify-content:center;
	flex-direction: row;
	padding: 2rem;	
}
.container2{
	display:flex;
	justify-content:center;
	flex-direction: column;
	
	
	
}
.container3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
.container4{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
	
		
}
.section1{
	
	}
.section2{
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	border: solid;
	border-radius: 10px;
	align-items: center;
	background-color: #BF4215
	
}
.section3{
	
	display: flex;
	justify-content: center;
}
.section4{
	display: flex;
	height:150px;
	border: solid;
	margin-top: 20px;
}
        .section5 {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-bottom: 1px solid #ccc;
        }
.section6{
	
	display: flex;
	height:150px;
	border: solid;
	margin-top: 20px;
}
.section7{
	         flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border-bottom: 1px solid #ccc;
}
.section8{
	display: flex;
	height:150px;
	border: solid;
	margin-top: 20px;
}
.image1{
	height:475px;
	width:800px;
}
        .section:nth-child(odd) {
            background-color: #f9f9f9;
        }
        .section:nth-child(even) {
            background-color: #e9e9e9;
        }
video{
	height:350px;
}